/* ==========================
   PREMIUM SECTION ANIMATION
========================== */

section{

    opacity:0;
    transform:translateY(80px);
    transition:all 1.2s ease;

}

section.show{

    opacity:1;
    transform:translateY(0);

}

/* ==========================
   COVER ZOOM
========================== */

#cover{

    animation:coverZoom 12s ease-in-out infinite alternate;

}

@keyframes coverZoom{

    from{

        background-size:100%;

    }

    to{

        background-size:110%;

    }

}

/* ==========================
   FLOAT TITLE
========================== */

.cover-content{

    animation:floatCard 4s ease-in-out infinite;

}

@keyframes floatCard{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-10px);

    }

    100%{

        transform:translateY(0);

    }

}

/* ==========================
   GOLD GLOW
========================== */

.cover-content h1{

    animation:goldGlow 3s ease-in-out infinite;

}

@keyframes goldGlow{

    0%{

        text-shadow:
        0 0 10px #D4AF37;

    }

    50%{

        text-shadow:
        0 0 35px #FFD700,
        0 0 60px #FFD700;

    }

    100%{

        text-shadow:
        0 0 10px #D4AF37;

    }

}
/* ==========================================
   REVEAL ANIMATION
========================================== */

.reveal{

    opacity:0;

    transform:translateY(60px);

    transition:
        opacity .9s ease,
        transform .9s ease;

}

.reveal.show{

    opacity:1;

    transform:translateY(0);

}
